[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
xlrd = "*"
tables = "*"

[dev-packages]
tox = "*"
bumpversion = "*"
pre-commit = "*"
jupyter = "*"
twine = "*"

[requires]
python_version = "3.6"
